.profile__edit-button{
  margin: 0;
  padding: 0;
  border: none;
  margin-left: 18px;
  max-width: 24px;
  width: 100%;
  max-height: 24px;
  height: 100%;
  margin-top: 15px;
  background-color: black;
  background-image: url(../../../images/EditButton.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.profile__edit-button:hover{
  opacity: 50%;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .profile__edit-button{
    margin-left: 10px;
    margin-top: 8px;
    max-width: 24px;
    min-height: 24px;
  }
}

@media screen and (max-width: 581px) {
  .profile__edit-button{
    max-width: 18px;
    min-height: 18px;
  }
}