.popup__container{
  margin: 0;
  background-color: white;
  border-radius: 10px;
  max-width: 430px;
  width: 100%;
}

@media screen and (max-width: 581px){
  .popup__container{
    max-width: 282px;
    width: 100%;
  }
}