.header{
  margin: 0 auto;
  margin-top: 45px;
  outline: solid;
  max-width: 880px;
  width: 100%;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 900px) {
  .header{
    max-width: 581px;
  }
}

@media screen and (max-width: 581px) {
  .header{
    max-width: 320px;
    margin-top: 28px;
  }
}