.popup-place__close-button{
  position: relative;
  max-width: 32px;
  width: 100%;
  min-height: 32px;
  top: -40px;
  left: 438px;
  height: 100%;
  border: none;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0);
  background-image: url(../../../images/CloseIcon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.popup-place__close-button:hover{
  opacity: 50%;
  cursor: pointer;
}

@media screen and (max-width: 581px){
  .popup-place__close-button{
    max-width: 22px;
    width: 100%;
    min-height: 22px;
    height: 100%;
    left: 260px;
    top: -36px;
  }
}