.popup__save-bottom{
  margin: 0;
  margin-top: 48px;
  border: none;
  min-height: 50px;
  height: 100%;
  color: white;
  background-color: black;
  border-radius: 2px;
}

.popup__save-bottom:hover{
  opacity: 50%;
  cursor: pointer;
}

@media screen and (max-width: 581px){
  .popup__save-bottom{
    max-width: 282px;
    width: 100%;
    min-height: 46px;
    height: 100%;
    margin-top: 45px;
    margin-bottom: 25px;
  }
}